venv/
config.py
certs/
__pycache__/
*.pyc
.env
docker-compose.override.yml

main_BU.py
main_simple_test.py

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfvars
backend.hcl
terraform_config.py
lambda_function.zip